<!DOCTYPE HTML>
<html>
	<head>
		<title>lumo 的 小站</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="lumo 的个人网站" />
		<meta name="keywords" content="lumo 杜立广 个人站" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

		<script src="https://cdn.bootcss.com/jquery.poptrox/2.5.0/jquery.poptrox.js"></script>
		<script src="https://cdn.bootcss.com/skel/2.1.0/skel.min.js"></script>
		<script src="../public/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="../public/css/skel.css" />
			<link rel="stylesheet" href="../public/css/style-large.css" />
			<link rel="stylesheet" href="../public/css/skel.css" />
			<link rel="stylesheet" href="../public/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3943188969,2723503656&fm=58" class="image avatar"><img src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=3943188969,2723503656&fm=58" alt="" /></a>
				<h1><strong><a href="#">我是lumoDo</a></strong>, 一个入门程序员</h1>
				<br />
				欢迎来到我的小站lumo.
				<ul>
					<li><a href="#">文章</a></li>
					<li><a href="#">学习之路</a></li>
					<li><a href="#">专题</a></li>
					<li><a href="#">关于</a></li>
				</ul>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>对不起了亲，网站还没写好<br />
							您先瞎点点.</h2>
						</header>
						<p>虽然想说点什么，但是就是不知道说什么，算了还是多说几句，至于多说几句说什么，你看看就知道我要说什么了，我要说的就是我也不知道说什么，所以我就随便说几句，是说几句还是多说几句，算了还是多说几句，至于多说几句说什么，你看看就知道我要说什么了，我要说的就是我也不知道说什么，所以我就随便说几句，是说几句还是多说几句，算了还是多说几句，至于多说几句说什么，你看看就知道我要说什么了，我要说的就是我也不知道说什么，所以我就随便说几句，是说几句还是多说几句，算了还是多说几句，至于多说几句说什么，你看看就知道我要说什么了，我要说的就是我也不知道说什么，所以我就随便说几句，是说几句还是多说几句，算了还是多说几句，至于多说几句说什么，你看看就知道我要说什么了，我要说的就是我也不知道说什么，所以我就随便说几句，是说几句还是多说几句，嗯就这样吧.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</section>



			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="http://weibo.com/u/5489629413?is_all=1" class="icon fa-weibo" target="_blank"><span class="label">Weibo</span></a></li>
					<li><a href="https://github.com/lumoDo" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
					<!-- <li><a href="#" class="icon fa-qq" ><span class="label">Dribbble</span></a></li> -->
					<li><a href="mailto:lumoooo@outlook.com" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
			</footer>

	</body>
</html>
