<!DOCTYPE HTML>
<html>
	<head>
		<title>lumo 的 小站</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="lumo 的个人网站" />
		<meta name="keywords" content="lumo 杜立广 个人站" />
		<link rel="icon" type="ico" href="../public/favicon.ico" ／>
				<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery.poptrox/2.5.0/jquery.poptrox.js"></script>
		<script src="https://cdn.bootcss.com/skel/2.1.0/skel.min.js"></script>
		<script src="../public/js/init.js"></script>

		<noscript>
			<link rel="stylesheet" href="../public/css/skel.css" />
			<link rel="stylesheet" href="../public/css/style-large.css" />
			<link rel="stylesheet" href="../public/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body id="top">



						 <%-body -%>
					</section>



			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="http://weibo.com/u/5489629413?is_all=1" class="icon fa-weibo" target="_blank"><span class="label">Weibo</span></a></li>
					<li><a href="https://github.com/lumoDo" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
					<!-- <li><a href="#" class="icon fa-qq" ><span class="label">Dribbble</span></a></li> -->
					<li><a href="mailto:lumoooo@outlook.com" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
			</footer>

	</body>
</html>
